<footer class="footer">
  <div class="footer__inner">
    <div class="footer__sns">
      <p class="footer__sns-icon"><a href="" class="m-svgIcon"><svg class="m-svgIcon__tw"><use xlink:href="#twitterIcon"/></svg></a></p>
      <p class="footer__sns-icon"><a href="" class="m-svgIcon"><svg class="m-svgIcon__fb"><use xlink:href="#facebookIcon2"/></svg></a></p>
    </div>
    <p class="footer__copy">&copy; 42EG4M1</p>
  </div>
</footer>

<script charset="utf-8" src="./js/bundle.min.js?ver=<%= meta.jsVersion %>"></script>
</body>
</html>