<footer class="footer">
  <div class="footer__inner">
    <!-- <div class="footer__sns">
      <p>twitter</p>
      <p>fb</p>
    </div> -->
    <p class="footer__copy">&copy; 42EG4M1</p>
  </div>
</footer>

<script charset="utf-8" src="./scripts/bundle.min.js?ver=<%= meta.jsVersion %>"></script>
</body>
</html>