<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/bundle.min.css?ver=<%= meta.cssVersion %>" media="all">
<title><%= meta.siteName %></title>
</head>
<body>

<script>
// GoogleAnalytics
</script>

<noscript class="noscript" data-noscript="本サイトは JavaScript が有効な状態にないと正常に表示されません。このメッセージが表示される場合、ブラウザの設定状況をご確認ください。"></noscript>
<!--[if lt IE 10]>
<div class="ie">
  <div class="ie__hold">
    <h3><%= meta.siteName %></h3>
    <h4><%= meta.subName %></h4>
    <p>恐れ入りますが、ご利用のブラウザ(インターネット閲覧の為のソフト)は古いバージョンのため、<br />本Webサイトではサポートされておりません。</p>
    <p>古いバージョンのブラウザは、脆弱性等の懸念があるためセキュリティ上、非表示としております。</p>
    <p>本サイトを閲覧するには、<a href="http://browsehappy.com">最新のブラウザをインストール</a>してからご覧ください。</p>
  </div>
  <p class="ie__btn" id="js-clearBtn">この表示を削除する</p>
</div>
<![endif]-->

<header class="header">
  <div class="header__inner">
    <h1 class="header__ttl">Front-end Starter</h1>
  </div>
</header>
