<main class="main">
  <div class="main__inner p-top">
    <p class="p-top__text">Hello, ejs.</p>
    <p class="p-top__text--sass"></p>
    <p class="p-top__text" id="js-test"></p>
    <p class="p-top__img"><img src="./images/test.jpg" alt="img"></p>
  </div>
</main>
